Pillow
click
numpy

# Test with mediapip 0.10.0, but you should probably try the latest first
#mediapipe==0.10.0
mediapipe

# Tested with the following torch packages, but you should probably go to
# https://pytorch.org/ and install the latest appropriate build of PyTorch for your system
#torch==2.0.0
#torchvision==0.15.1
